<html>
    <style>
        p.title {
            font-size: 30px;
        }
    </style>
<body>
    <center><p class="title">Welcome, {{username}}</p></center><br>
    <center><h4><a href="{{url_for('malicious_insider')}}">Malicious Insider Example</a></h4></center>
    <center><h4><a href="{{url_for('negligent_insider')}}">Negligent Insider Example</a></h4></center>
    <center><h4><a href="{{url_for('nosql_injection')}}">No SQL Injection Example</a></h4></center>
    <h4><a href="{{url_for('logout')}}">Logout</a></h4>
</body>
</html>
